<mat-toolbar color="accent" class="toolbar">
	<mat-toolbar-row>
    <a style="color: white; text-decoration: none;" routerLink="/">TODO</a>
    <span class="example-spacer"></span>
    <a mat-button style="color: white; text-decoration: none;" routerLink="/user-profile">Profile</a>
    <a mat-button style="color: white; text-decoration: none;" routerLink="/add-todo/">Add Todo</a>
    <a (click)="logoutClick()" mat-button style="color: white; text-decoration: none;">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>